doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 새 게시글 작성
    link(href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet")
    link(href="/css/main/main.css" rel="stylesheet")
    link(href="/css/board/board.css" rel="stylesheet")
    script(src="/js/common/axios.js")
    script(src="/js/main/main.js" defer)
  body
    .diary-container
      input(type="hidden" name="_csrf" value=csrfToken)
      .left-side
        h2 떙땡의 다이어리
        .profile-pic
          img(src="/images/profile-placeholder.png" alt="프로필 사진")
        ul.profile-info
          li 생일: 
          li 별자리: 
          li MBTI: 
          li 번호: 
        button.btn.btn-logout#logout-button 로그아웃
      .right-side
        .board-container
          .board-header
            h2 새 게시글 작성
            a.btn-back(href="/board") 목록으로 돌아가기
          form.board-form(action="/board", method="POST" enctype="multipart/form-data")
            .form-group
              label(for="title") 제목:
              input#title.form-control(type="text" name="title" placeholder="제목" required)
            .form-group
              label(for="content") 내용:
              textarea#content.form-control(name="content" placeholder="내용" required)
            .form-group
              label(for="file") 파일 업로드:
              input#file.form-control(type="file" name="file")
            button.btn.btn-primary(type="submit") 등록
