.v81_9
    button.v80_97
    button.v80_99
        span.v81_10 채팅
    button.v80_101
        span.v81_11 엑셀
    button.v80_102
        span.v81_12 작업
    button.v94_3(onclick="logout()")
        span.v94_4 로그아웃
    span.v81_5 VISION SPACE : 메뉴판
    span.v94_2#username 작업자
    .v80_98
    .v83_17
