doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet")
    link(href="/css/chat/chatmain.css" rel="stylesheet")
    title Document
  body
    .v83_18
      .v83_23
        .v83_25
          span.v83_26 채팅
        .v83_27
          span.v83_28 엑셀
        .v83_29
          span.v83_30 작업
        .v83_32
        .v83_33
          span.v83_31 VISION SPACE : 채팅
          .v83_24
      .v83_91
        .v83_37
          span.v83_38 여기에 검색어를 입력해주세요.
          .v83_39
            .v83_40
        .v83_58
          .v83_57
        .v83_61
          .v83_60
        .v84_25
          .v83_82
            .v83_83
              span.v83_84 미정
            .v83_85
            span.v83_86 작업자명
            .v83_89
            span.v83_90 직책 : 연구원
          .v84_11
            .v84_12
              span.v84_13 미정
            .v84_14
            span.v84_15 작업자명
            .v84_16
            span.v84_17 직책 : 연구원
          .v84_18
            .v84_19
              span.v84_20 미정
            .v84_21
            span.v84_22 작업자명
            .v84_23
            span.v84_24 직책 : 연구원
          span.v84_2 개발
          .v84_10
            .v84_9
      .v84_26
        .v84_27
          .v84_28
            span.v84_29 미정
          .v84_30
          span.v84_31 작업자명
          .v84_32
          span.v84_33 직책 : 연구원
        .v84_34
          .v84_35
            span.v84_36 미정
          .v84_37
          span.v84_38 작업자명
          .v84_39
          span.v84_40 직책 : 연구원
        .v84_41
          .v84_42
            span.v84_43 미정
          .v84_44
          span.v84_45 작업자명
          .v84_46
          span.v84_47 직책 : 연구원
        span.v84_48 디자인
      .v84_53
        .v84_52
