doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 로그인 페이지
    link(href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet")
    link(href="/css/main/login.css" rel="stylesheet")
    script(src="/js/common/axios.js")
    script(src="/js/user/login.js" defer)
  body
    .diary-container
      .left-side
        h2 떙땡의 다이어리
        .profile-pic
          img(src="/images/profile-placeholder.png" alt="프로필 사진")
        ul.profile-info
          li 생일: 
          li 별자리: 
          li MBTI:  
          li 번호: 
      .right-side
        form.login-form(action="/login", method="POST")
          h2 로그인
          .form-group
            label(for="id") 아이디
            input#id.form-control(type="text" name="id" placeholder="아이디" required)
          .form-group
            label(for="password") 비밀번호
            input#password.form-control(type="password" name="password" placeholder="비밀번호" required)
          .form-check
            input#rememberMeCheckbox.form-check-input(type="checkbox" name="rememberMe")
            label.form-check-label(for="rememberMeCheckbox") 로그인 상태 유지
          input(type="hidden" name="_csrf" value=csrfToken)
          button.btn.btn-primary(type="submit") 로그인
          a(href="/signup") 회원가입
          a#bt_pwfind(href="#") 비밀번호 찾기
